<!DOCTYPE html>
<html>
  <head>
    <title>Batuta - Qual teu frevo?</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-1.11.1.min.js"></script> 
  </head>
  <body>
        <div class="modal" style="justify-content: center">
            <div class="modal" style="display: flex; flex-direction: column; justify-content: center;padding-left:43%;">
                <span style="margin-top: 65px; font-size: 15px; font-weight: bold; ">
                      <font face="Helvetica Neue, Helvetica, Arial, sans-serif" size="2"></font>
                </span>
            </div>
        </div>
                  
    <div class="container-fluid batuta-container" id="question">
      <!-- logo start -->
      <div class="logo col-lg-4 col-md-4 col-sm-12">
        <img src="/images/logo.png" class="img-responsive" alt="Batuta Logo">
        <div class="col-md-12">BATUTA!</div>
              <div style="text-align:center">
          <a href="/login/facebook" onclick='$("#loading").css("visibility", "visible");jQuery("body").addClass("loading");' class="btn btn-primary btn-social btn-facebook btn-lg" role="button" id="btn-fb">
            <span class="fa fa-facebook"></span>Entrar com Facebook
          </a>
        </div>
      </div>
      <!-- logo end -->
      <!-- onboarding start -->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="jumbotron jumbotron-fluid batuta-jumbo" >
          <h1 class="batuta-title">Teu Frevo</h1>
            <p class="batuta-subtitle">Já pensou em ser maestro de teu próprio frevo e comandar toda orquestra entre carnavais e shows?</p>
            <p class="batuta-description">O Batuta, em conjunto com o Paço do Frevo, proporcionará essa experiência para ti. A primeira parte e ser um bom maestro é sintonizar o frevo com tua <b>personalidade</b>. O Batuta pode deixa essa brincadeira ainda mais interessante porque ele consegue te conhecer a partir do seu <b>Facebook</b>. </br></br>
		Este aplicativo é parte de um projeto do Paço do Frevo em Recife, Pernambuco,  voltado para turistas e apreciadores da cultura nordestina e da boa música, e permite identificar os principais traços da sua personalidade associado ao
		frevo pernambucano.
</br></br>
		Para utilizá-lo, você deve responder 5 perguntas da forma mais sincera possível, pensando em como você realmente é hoje, e autorizar nosso aplicativo a ter acesso ao seus posts no facebook para 
		ter uma experiência mais completa e fiel.
</br></br>
		A exatidão das suas respostas e a autorização de acesso aos posts do facebook é de suma importância, não apenas para que os resultados sejam corretos, mas também para que sejam úteis para o processo de aprendizado
		na nossa ferramenta, quer utiliza a tecnologia de computação cognitiva IBM Watson.
		Ao prosseguir você concorda com a nossa <a href="/politica">política de uso</a>.
</br></br>
              Participe e descubra qual o frevo tem a tua cara!</p>
        </div>
    <div>



    </div>
    <!-- onboarding end -->

      </div>

<div>


<!--       <div class="row justify-content-md-center">

  <div class="col-md-6"/>
    <a class="btn btn-block btn-social btn-twitter href="/login/login-twitter">
      <span class="fa fa-twitter"></span> Sign in with Facebook
    </a>
  </div>
</div> -->


    <script src="/bootstrap/dist/js/bootstrap.min.js" type="javascript"></script>
  </body>
</html>
        