<!DOCTYPE html>
<html>
  <head>
    <title>Quiz, Qual é seu frevo?</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    

    <div class="container-fluid" id="question">
        <div class="row">
            <div class="col-md-6">
		<a href="/login/facebook" class="btn btn-block btn-social btn-facebook">
		    <span class="fa fa-facebook"></span> Sign in with Facebook
		</a>
                <a href="/login/login-twitter"><img src="/images/signin-twitter.png"></a>
            </div>
        </div>
    </div>
  </body>
</html>
        