<!DOCTYPE html>
<html>
  <head>
    <title>Venha no paço conhecer seu Frevo</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  	<div class="container-fluid" id="question">
		<div class="row">
			<div class="col-md-6">
				<img src="<%= imagem %>" class="img-responsive" alt="Responsive image">
		    	
			</div>

			<div class="col-md-6">
				<iframe src="https://open.spotify.com/embed?uri=spotify:track:<%= idMusica %>" width="300" height="380" frameborder="2" allowtransparency="true"></iframe>

	    	</div>
    	</div>
    </div>
  </body>
</html>
