<!DOCTYPE html>
<html>
 <head>
   <title>Vem pro paço</title>
   <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
   <link rel='stylesheet' href='/stylesheets/style.css' />

 </head>
 <body>
     <div class="container-fluid batuta-container" id="question"> <!--div inicial  -->

     <div class="logo col-lg-4 col-md-4 col-sm-12">                    
         <img src="/images/logo.png" class="img-responsive" alt="Batuta Logo">
       </div>
     <div class="container-fluid batuta-container">

     <div class="row">
       <div class="col-lg-8 col-md-8 col-sm-12">
           <div class="card col-md-12 col-sm-12 rounded">
               <div class="batuta-card" style="min-height:200px">
                 <div class="col-md-4">                                    
               </div>
                 <div class="container">
                   <h1 class="frevo-title">Obrigado</h1>
                   <p class="frevo-subtitle">Foi Gerado um frevo de acordo com o seu perfil.</p>
                   <p class="frevo-description">O Código do seu Frevo é: 123456FGH <br><br>Quer saber qual frevo personalizado foi criado para você? Venha até o paço do frevo e orquestre de forma divertida!</p>
                 </div>
               </div>
             </div>
       </div>
     </div>  
     
   </div> <!--div final  -->

           </div>
         </div>
       </div>
     </div>
   </div>
   <script src="/bootstrap/dist/js/bootstrap.min.js" type="javascript"></script>
 </body>
</html>